.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.addbtn{
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: 10;
}
hr{
  margin-top: 37px;
  width:300px;
  height:0.5px;
  border:0;
  background: #ccc;
}
.App-link {
  color: #61dafb;
}
.Container{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  max-width: 700px; 
  height: 50vh;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  padding: 30px;
  align-items: center; 
  flex-direction: column; 
  z-index: 30;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
  @media (max-width:700px){
    width: 70vw;
}
@media (max-width:450px){
  width: 100vw;
}
}
.userface {
 float: left;
}
.Header{
 margin-top: 7px;
  float: left;
}
.textleft{
  text-align: left;
}
.textright{
  float: right;
}
.Image{
  max-width: 200px;
  max-height: 200px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
